@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    // there was spacing showing on the right side of the page
    // this solved that problem
    // https://stackoverflow.com/a/4617920/12716823
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header,
.music-row__div {
    margin: 1rem;
    padding: 1rem;
}

img:hover {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 255, .2);
    // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.header {
    margin-bottom: 2rem;

    .header__text {
        width: 100%;
        font-weight: bolder;

        .header__colored-text {
            color: #FFFF00;
        }

    }


    .header__right-items {
        float: right;
        width: 100%;
        position: relative;
        bottom: 35px;
        right: -1250px;
    }

    .header__right-items input {
        width: 272px;
        border-radius: 20px;
        border: 1px solid #c4c4c4;
        background: #fff;
        color: #c4c4c4;
    }

    .search-image {
        width: 14px;
        float: left;
        position: relative;
        left: 50px;
        top: 7px
    }

    //https://stackoverflow.com/a/3397158/12716823
    // the user was helpful in removing the highlight from the focus

    .header__right-items input:focus {
        outline: 1px solid #c4c4c4;
        border-radius: 20px;
    }

}

.music-row__div p:first-child {
    font-size: larger;

}

.soundtrack__text {
    margin-top: 1rem;
    margin-bottom: 2rem;


    h6 {
        font-size: large;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        font-size: small;
    }
}

@media(max-width:500px) {
    .header__right-items {
        float: left;
        width: 100%;
        position: relative;
        
    }
}